<style>
    th,
    td {
        border: 1px solid black;
    }
</style>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container" style="background-color: rgb(158, 115, 184)">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-danger" href="/logout">Log Out</a></li>
    </ul>
    <div class="page-header">
        <h1>Welcome to My Album</h1>
        <form action="/dashboard" method="post">
            Album name:
            <input type="text" name="albumname">
            Description:
            <input type="text" name="description">
            <input class="btn btn-primary" type="submit" value="Add Album">
        </form>
    </div>
    <div>
        <table>
            <% if (typeof err != "undefined")  { %>
            <% for(var i=0; i < err.errors.length; i++) { %>
            <tr>
                <td>
                    <%= err.errors[i].message %>
                </td>
            </tr>
            <% } }%>
        </table>
        <% if (typeof error != "undefined")  { %>
        <script>alert("album already exists, try another album name........")</script>
        <% } %>
    </div>
    <div>
        <table style="width:100%; border-spacing: 5px; background-color:rgb(207, 241, 184);">
            <tr>
                <th>Album Name</th>
                <th>Description</th>
            </tr>
            <% for(var i=0; i < album.length; i++) { %>
            <tr>
                <td width="30%"><a
                        href="/showAlbum/<%= album[i].dataValues.albumname %>"><%= album[i].dataValues.albumname %></a>
                </td>
                <td width="40%"><%= album[i].dataValues.description %></td>
                <td style= "border: 0px; text-align: left;">
                    <form action="/album/<%= album[i].dataValues.albumname %>" method="get">
                        <input type="submit" value="Edit" class="btn btn-primary"/>
                    </form>
                </td>
                <td style= "border: 0px">
                    <form action="/album/<%= album[i].dataValues.albumname %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>

</html>